* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* S'assure que le body prend toute la hauteur de la fenêtre */
  background-image: url("img/jeu.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
}

canvas {
  border: 4px solid white;
  display: block; /* Supprime tout espacement indésirable autour du canvas */
}

@media (max-width: 768px) {
  body {
    background-size: contain; /* Change l'ajustement de l'image pour les petits écrans */
  }
  canvas {
    width: 90%; /* Réduit la taille du canvas pour les petits écrans */
  }
}
